List Comprehensions

In [1]:
mystring = 'Salmanduna'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['S', 'a', 'l', 'm', 'a', 'n', 'd', 'u', 'n', 'a']

The code above can be written in one line using list comprehensions

In [4]:
mylist2 = [letter for letter in mystring]
mylist2

['S', 'a', 'l', 'm', 'a', 'n', 'd', 'u', 'n', 'a']

In [5]:
myeven = [num**2 for num in range(0,10) if num%2== 0]
myeven

[0, 4, 16, 36, 64]

In [9]:
mycelcius = [10, 18, 23, 28, 32, 45]
myfarenheit = [((9/5)*temp + 32) for temp in mycelcius]
myfarenheit

[50.0, 64.4, 73.4, 82.4, 89.6, 113.0]

The temperature conversion above is the same as writing the for loop below.

In [10]:
fahrenheit = []

for temp in mycelcius:
    fahrenheit.append(((9/5)*temp + 32))
fahrenheit

[50.0, 64.4, 73.4, 82.4, 89.6, 113.0]